<div class="footer-widget">
    <div class="container">
        <div class="footer-widget-wrap">
            <div class="row">
                <div class="footer-widget-col col-md-2 col-sm-6">
                    <div class="widget widget_nav_menu">
                        <h3 class="widget-title"><span>Bilgi</span></h3>
                        <ul class="menu">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">İletişim Bilgileri </a></li>
                            <li><a href="#">Bizimle Çalışın</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-widget-col col-md-2 col-sm-6">
                    <div class="widget widget_nav_menu">
                        <h3 class="widget-title"><span>Müşteri Hizmetleri</span></h3>
                        <ul class="menu">
                            <li><a href="#">Destek</a></li>
                            <li><a href="#">SSS</a></li>
                            <li><a href="#">Şikayet</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-widget-col col-md-2 col-sm-6">
                    <div class="widget widget_nav_menu">
                        <h3 class="widget-title"><span>Hızlı link</span></h3>
                        <ul class="menu">
                            <li><a href="#">Sipariş Durumu</a></li>
                            <li><a href="#">İade Şartları</a></li>
                            <li><a href="#">Kargo Takip</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-widget-col col-md-2 col-sm-6">
                    <div class="widget widget_nav_menu">
                        <h3 class="widget-title"><span>Yardım</span></h3>
                        <ul class="menu">
                            <li><a href="#">Gizlilik</a></li>
                            <li><a href="#">Şartlar ve Koşullar</a></li>
                            <li><a href="#">Sosyal Sorumluluk</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-widget-col col-md-4 col-sm-6">
                    <div class="widget widget_text">
                        <h3 class="widget-title"><span>Adres</span></h3>
                        <div class="textwidget">
                            <p><i class="fa fa-map-marker"></i> No 68/12,Atatürk Caddesi,Karabük, Türkiye</p>
                            <p><i class="fa fa-phone"></i> (0505) 999 99 11</p>
                            <p>
                                <i class="fa fa-envelope"></i> <a href="mailto:email@domain.com">email@domain.com</a>
                            </p>
                            <p class="payment"><img src="{{ asset('images') }}/footer-payment-color.png" alt=""></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="footer">
    <div class="footer-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer-info-logo">
                        <a href="#"><img alt="The DMCS" src="{{ asset('images') }}/footer-logo.png"></a>
                    </div>
                    <div class="copyright text-center">Copyright right © 2019 MacroMan. Bütün Hakları Saklıdır.</div>
                    <div class="footer-social">
                        <a href="#" title="Facebook" target="_blank">
                            <i class="fa fa-facebook facebook-bg-hover"></i>
                        </a>
                        <a href="#" title="Twitter" target="_blank">
                            <i class="fa fa-twitter twitter-bg-hover"></i>
                        </a>
                        <a href="#" title="Google+" target="_blank">
                            <i class="fa fa-google-plus google-plus-bg-hover"></i>
                        </a>
                        <a href="#" title="Pinterest" target="_blank">
                            <i class="fa fa-pinterest pinterest-bg-hover"></i>
                        </a>
                        <a href="#" title="RSS" target="_blank">
                            <i class="fa fa-rss rss-bg-hover"></i>
                        </a>
                        <a href="#" title="Instagram" target="_blank">
                            <i class="fa fa-instagram instagram-bg-hover"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>




<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/jquery-migrate.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/jquery.themepunch.revolution.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/easing.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/imagesloaded.pkgd.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/bootstrap.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/superfish-1.7.4.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/jquery.appear.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/script.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/swatches-and-photos.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/jquery.prettyPhoto.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/jquery.prettyPhoto.init.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/jquery.selectBox.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/jquery.parallax.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/jquery.touchSwipe.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/jquery.transit.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/jquery.carouFredSel.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/isotope.pkgd.min.js'></script>
<script type='text/javascript' src='{{ asset('js') }}/jquery.magnific-popup.min.js'></script>
</body>
</html>