<div class="content-container no-padding">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12 main-wrap">
                <div class="main-content">
                    {{ include("home/_slider.html.twig") }}
                    <div class="product-categories-grid">
                        <div class="product-categories-grid-wrap clearfix">
                            <div class="product-category-wall">
                                <div class="wall-col col-md-6 col-sm-12 title-in product-category-wall">
                                    <a href="{{ path('vitrin') }}">
                                        <div class="product-category-grid-item">
                                            <div class="product-category-grid-item-wrap">
                                                <div class="product-category-grid-featured-wrap">
                                                    <div class="product-category-grid-featured bg-6" style="background-image: url('{{ asset('uploads') }}/images/{{ image_setting[0].AnasayfaImageOne }}');"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="wall-col col-md-6 col-sm-12 title-out product-category-wall">
                                    <a href="{{ path('vitrin') }}">
                                        <div class="product-category-grid-item">
                                            <div class="product-category-grid-item-wrap">
                                                <div class="product-category-grid-featured-wrap">
                                                    <div class="product-category-grid-featured bg-6" style="background-image: url('{{ asset('uploads') }}/images/{{ image_setting[0].AnasayfaImageTwo }}');"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="wall-col col-md-6 col-sm-12 title-out product-category-wall">
                                    <a href="{{ path('vitrin') }}">
                                        <div class="product-category-grid-item">
                                            <div class="product-category-grid-item-wrap">
                                                <div class="product-category-grid-featured-wrap">
                                                    <div class="product-category-grid-featured bg-6" style="background-image: url('{{ asset('uploads') }}/images/{{ image_setting[0].AnasayfaImageThree }}');"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="product-category-wall wall-row">
                                <div class="wall-col col-sm-4 title-out height-auto product-category-wall">
                                    <a href="{{ path('vitrin') }}">
                                        <div class="product-category-grid-item">
                                            <div class="product-category-grid-item-wrap">
                                                <div class="product-category-grid-featured-wrap">
                                                    <div class="product-category-grid-featured bg-6" style="background-image: url('{{ asset('uploads') }}/images/{{ image_setting[0].AnasayfaImageFour }}');"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="wall-col col-sm-4 title-out height-auto product-category-wall">
                                    <a href="{{ path('vitrin') }}">
                                        <div class="product-category-grid-item">
                                            <div class="product-category-grid-item-wrap">
                                                <div class="product-category-grid-featured-wrap">
                                                    <div class="product-category-grid-featured bg-6" style="background-image: url('{{ asset('uploads') }}/images/{{ image_setting[0].AnasayfaImageFive }}');"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="wall-col col-sm-4 title-out height-auto product-category-wall">
                                    <a href="{{ path('vitrin') }}">
                                        <div class="product-category-grid-item">
                                            <div class="product-category-grid-item-wrap">
                                                <div class="product-category-grid-featured-wrap">
                                                    <div class="product-category-grid-featured bg-6" style="background-image: url('{{ asset('uploads') }}/images/{{ image_setting[0].AnasayfaImageSix }}');"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
