
                    <h3>Onay Bekleyen Üyeler</h3> <br>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <th>Ad Soyad</th>
                            <th>Email</th>
                            <th>Şifre</th>
                            <th>Telefon</th>
                            <th>Adres</th>
                            <th>Tip</th>
                            <th>Durum</th>
                            <th>Şehir</th>
                            <th>Onayla</th>
                            <th>Reddet</th>
                        </tr>
                        {% for x in Users %}
                            <tr>
                                <td>{{ x.id }}</td>
                                <td>{{ x.name }}</td>
                                <td>{{ x.email }}</td>
                                <td>{{ x.password }}</td>
                                <td>{{ x.tel }}</td>
                                <td>{{ x.addres }}</td>
                                <td>{{ x.type }}</td>
                                <td>{{ x.status }}</td>
                                <td>{{ x.city }}</td>
                                <td> <a href="{{ path('admin_user_succes',{'id':x.id}) }}" class="btn btn-block btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span> &nbsp; &nbsp; Onayla</a>  </td>
                                <td> <a href="{{ path('admin_user_deletesucces',{'id':x.id}) }}" onclick="return confirm('Silme İşlemi Yapılacak Emin Misiniz?')" class="btn btn-block btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp; Reddet</a>  </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
