<div class="widget shop widget_price_filter">
    <h4 class="widget-title"><span>Fiyat</span></h4>
    <form>
        <div class="price_slider_wrapper">
            <div class="price_slider"></div>
            <div class="price_slider_amount">
                <input type="text" id="min_price" name="min_price" value="" data-min="10" placeholder="Min price"/>
                <input type="text" id="max_price" name="max_price" value="" data-max="23" placeholder="Max price"/>
                <button type="submit" class="button">Filtrele</button>
                <div class="price_label">
                    Fiyat: <span class="from"></span> &mdash; <span class="to"></span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </form>
</div>

<div class="widget shop widget_swatches">
    <h4 class="widget-title"><span>Beden</span></h4>
    <ul class="swatches-options clearfix">

        <li>
            <a title="Extra Extra Large (3)" href="#">
                <img src="{{ asset('images') }}/sizes/XXL.jpg" alt="Extra Extra Large" width="32" height="32"/>
            </a>
        </li>
        <li>
            <a title="Extra Large (3)" href="#">
                <img src="{{ asset('images') }}/sizes/XL.jpg" alt="Extra Large" width="32" height="32"/>
            </a>
        </li>
        <li>
            <a title="Large (3)" href="#">
                <img src="{{ asset('images') }}/sizes/L.jpg" alt="Large" width="32" height="32"/>
            </a>
        </li>
        <li>
            <a title="Medium (3)" href="#">
                <img src="{{ asset('images') }}/sizes/M.jpg" alt="Medium" width="32" height="32"/>
            </a>
        </li>
        <li>
            <a title="Small (3)" href="#">
                <img src="{{ asset('images') }}/sizes/S.jpg" alt="Small" width="32" height="32"/>
            </a>
        </li>
    </ul>
</div>
<div class="widget shop widget_layered_nav dhwc_widget_layered_nav">
    <h4 class="widget-title"><span>Markalar</span></h4>
    <ul>
        <li><a href="#">Adesso</a> <small class="count">11</small></li>
        <li><a href="#">Barbour</a> <small class="count">6</small></li>
        <li><a href="#">Carvela</a> <small class="count">9</small></li>
        <li><a href="#">Crocs</a> <small class="count">9</small></li>
        <li><a href="#">Evans</a> <small class="count">12</small></li>
    </ul>
</div>



</div>
</div>
</div>
</div>
</div>
