<div class="heading-container">
    <div class="container heading-standar">
        <div class="page-breadcrumb">
            <ul class="breadcrumb">
                <li><span><a href="#" class="home"><span>Ürünler</span></a></span></li>
                <li><span>Ürün Detay</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="content-container">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12 main-wrap">
                <div class="main-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 no-min-height"></div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="container">
                            <div class="row summary-container">
                                <div class="col-md-8 col-sm-6 entry-image">
                                    <div class="single-product-images">
                                        <div class="single-product-images-slider">
                                            <div class="caroufredsel product-images-slider" data-synchronise=".single-product-images-slider-synchronise" data-scrollduration="500" data-height="variable" data-scroll-fx="none" data-visible="1" data-circular="1" data-responsive="1">
                                                <div class="caroufredsel-wrap">
                                                    <ul class="caroufredsel-items">


                                                        <li class="caroufredsel-item">
                                                            <div class="thumb" style="text-align: center;">
                                                                <a href="{{ asset('uploads') }}/images/{{ data[0].image }}" data-rel="magnific-popup-verticalfit" title="Product-detail">
                                                                    <img src="{{ asset('uploads') }}/images/{{ data[0].image }}" alt="Product-detail" class="vitrin-gorsel"/>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        {% for rs in images %}
                                                        <li class="caroufredsel-item">
                                                            <div class="thumb" style="text-align: center;">
                                                                <a href="{{ asset('uploads') }}/images/{{ rs.image }}" data-rel="magnific-popup-verticalfit" title="Product-detail">
                                                                    <img width="800" height="850" src="{{ asset('uploads') }}/images/{{ rs.image }}" alt="Product-detail" class="vitrin-gorsel"/>
                                                                </a>
                                                            </div>
                                                        </li>
                                                        {% endfor %}

                                                    </ul>
                                                    <a href="#" class="caroufredsel-prev"></a>
                                                    <a href="#" class="caroufredsel-next"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-product-thumbnails">
                                            <div class="caroufredsel product-thumbnails-slider" data-visible-min="2" data-visible-max="4" data-scrollduration="500" data-direction="up" data-height="100%" data-circular="1" data-responsive="0">
                                                <div class="caroufredsel-wrap">
                                                    <ul class="single-product-images-slider-synchronise caroufredsel-items">


                                                        <li class="caroufredsel-item selected">
                                                            <div class="thumb">
                                                                <a href="{{ asset('uploads') }}/images/{{ data[0].image }}" data-rel="1" title="Product-detail">
                                                                    <img width="100" height="150" src="{{ asset('uploads') }}/images/{{ data[0].image }}" alt="Product-detail"/>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        {% for rs in images %}
                                                        <li class="caroufredsel-item">
                                                            <div class="thumb">
                                                                <a href="#" data-rel="2" title="Product-detail">
                                                                    <img src="{{ asset('uploads') }}/images/{{ rs.image }}" alt="Product-detail"/>
                                                                </a>
                                                            </div>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 entry-summary">
                                    <div class="summary">
                                        <h1 class="product_title entry-title">{{ data[0].title }}</h1>
                                        {#<div class="shop-product-rating">#}
                                            {#<div class="star-rating">#}
                                                {#<span style="width:80%"></span>#}
                                            {#</div>#}
                                            {#<a href="#reviews" class="shop-review-link">(<span class="count">1</span> customer review)</a>#}
                                        {#</div>#}
                                        {#<p class="price"><span class="amount">{{ data[0].sprice }}₺</span></p>#}
                                        <div class="product-excerpt">
                                            <p>
                                                {{ data[0].description }}
                                            </p>
                                        </div>
                                        <div class="product-actions res-color-attr">
                                            <form class="cart" action="{{ path('shopcart_new') }}" method="post" name="shopcart">
                                                <div class="product-options-outer">
                                                    <div class="variation_form_section">
                                                        <div class="product-options icons-lg">
                                                            <table class="variations-table">
                                                                <tbody>
                                                                <tr>
                                                                    <td><label>Renk</label></td>
                                                                    <td>
                                                                        <div class="select-option swatch-wrapper">
                                                                            <a href="#" title="Green" class="swatch-color green">Green</a>
                                                                        </div>
                                                                        <div class="select-option swatch-wrapper selected">
                                                                            <a href="#" title="Red" class="swatch-color red">Red</a>
                                                                        </div>
                                                                        <div class="select-option swatch-wrapper">
                                                                            <a href="#" title="White" class="swatch-color white">White</a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><label>Beden</label></td>
                                                                    <td>
                                                                        <div class="select-option swatch-wrapper selected">
                                                                            <a href="#" title="Extra Large" class="swatch-anchor">
                                                                                <img src="{{ asset('images') }}/sizes/XL.jpg" alt="thumbnail" width="35" height="35"/>
                                                                            </a>
                                                                        </div>
                                                                        <div class="select-option swatch-wrapper">
                                                                            <a href="#" title="Extra Extra Large" class="swatch-anchor">
                                                                                <img src="{{ asset('images') }}/sizes/XXL.jpg" alt="thumbnail" width="35" height="35"/>
                                                                            </a>
                                                                        </div>
                                                                        <div class="select-option swatch-wrapper">
                                                                            <a href="#" title="Medium" class="swatch-anchor">
                                                                                <img src="{{ asset('images') }}/sizes/M.jpg" alt="thumbnail" width="35" height="35"/>
                                                                            </a>
                                                                        </div>
                                                                        <div class="select-option swatch-wrapper">
                                                                            <a href="#" title="Small" class="swatch-anchor">
                                                                                <img src="{{ asset('images') }}/sizes/S.jpg" alt="thumbnail" width="35" height="35"/>
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single_variation_wrap">
                                                    <div class="single_variation">
                                                        <span class="price"><span class="amount">Fiyat: {{ data[0].sprice }}₺</span></span>
                                                        <br><br><br>
                                                    </div>
                                                    <div class="variations_button">
                                                        <div class="quantity">
                                                            <input type="number" name="shopcart[quantity]" value="1" title="Qty" class="input-text qty text" size="4" max="{{ data[0].amount }}">
                                                            <input type="hidden" name="shopcart[productid]" value="{{ data[0].id }}">

                                                        </div>
                                                        <button type="submit" class="button">Sepete Ekle</button>
                                                    </div>
                                                    <br> <br> <br>
                                                    <div class="single_variation_wrap">
                                                        <div class="single_variation">
                                                            <span class="price"><span class="amount">Stokta Kalan Ürün: {{ data[0].amount }}</span></span>
                                                            <br><br><br>
                                                        </div>
                                                </div>
                                                    <input type="hidden" name="token" value="{{ csrf_token('add-item') }}">
                                            </form>
                                        </div>
                                        {#istek listesine ekle#}
                                        {#<div class="yith-wcwl-add-to-wishlist">#}
                                            {#<a href="#" class="add_to_wishlist">#}
                                                {#Add to Wishlist#}
                                            {#</a>#}
                                        {#</div>#}
                                        {#<div class="product_meta">#}
                                            {#<span class="sku_wrapper">SKU: <span class="sku">N/A</span></span>#}
                                            {#<span class="posted_in">Category: <a href="#">Aliquam</a></span>#}
                                            {#<span class="tagged_as">Tags: <a href="#">Men</a>, <a href="#">Women</a></span>#}
                                            {#<span class="posted_in">Brand: <a href="#">Adesso</a>, <a href="#">Carvela</a>.</span>#}
                                        {#</div>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-tab-container">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tabbable shop-tabs">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="active">
                                                    <a data-toggle="tab" role="tab" href="#tab-description">Ürün Açıklaması</a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" role="tab" href="#tab-reviews">Yorumlar (2)</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab-description">
                                                    <h3>{{ data[0].title }}</h3>
                                                    <p>
                                                        {{ data[0].detail|raw }}
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="tab-additional_information">
                                                    <h2>Additional Information</h2>
                                                    <table class="shop_attributes">
                                                        <tr class="">
                                                            <th>Color</th>
                                                            <td><p>Green, Grey, Orange, Red, White, Yellow</p></td>
                                                        </tr>
                                                        <tr class="alt">
                                                            <th>Size</th>
                                                            <td><p>Extra Large, Extra Extra Large, Large, Medium, Small</p></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="tab-pane" id="tab-reviews">
                                                    <div id="reviews">
                                                        <div id="comments">
                                                            <h2>1 review for Cras rhoncus duis viverra</h2>
                                                            <ol class="commentlist">
                                                                <li>
                                                                    <div class="comment_container">
                                                                        <img alt='' src='http://placehold.it/32x32' class='avatar' height='60' width='60'/>
                                                                        <div class="comment-text">
                                                                            <div class="star-rating">
                                                                                <span style="width:80%"></span>
                                                                            </div>
                                                                            <p class="meta">
                                                                                <strong>sitesao</strong> &ndash; <time datetime="2015-08-05T10:09:45+00:00">August 5, 2015</time>:
                                                                            </p>
                                                                            <div class="description"><p>Lorem ipsum dolor</p></div>
                                                                        </div>
                                                                    </div>
                                                                    <ol class="children">
                                                                        <li>
                                                                            <div class="comment_container">
                                                                                <img alt='' src='http://placehold.it/32x32' class='avatar' height='60' width='60'/>
                                                                                <div class="comment-text">
                                                                                    <div class="star-rating">
                                                                                        <span style="width:80%"></span>
                                                                                    </div>
                                                                                    <p class="meta">
                                                                                        <strong>sitesao</strong> &ndash; <time datetime="2015-08-05T10:09:45+00:00">August 5, 2015</time>:
                                                                                    </p>
                                                                                    <div class="description"><p>Lorem ipsum dolor</p></div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ol>
                                                                </li>
                                                                <li>
                                                                    <div class="comment_container">
                                                                        <img alt='' src='http://placehold.it/32x32' class='avatar' height='60' width='60'/>
                                                                        <div class="comment-text">
                                                                            <div class="star-rating">
                                                                                <span style="width:80%"></span>
                                                                            </div>
                                                                            <p class="meta">
                                                                                <strong>sitesao</strong> &ndash; <time datetime="2015-08-05T10:09:45+00:00">August 5, 2015</time>:
                                                                            </p>
                                                                            <div class="description"><p>Lorem ipsum dolor</p></div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                        <div id="respond-wrap">
                                                            <div id="respond" class="comment-respond">
                                                                <h3 class="comment-reply-title">
                                                                    <span>Leave a reply</span>
                                                                </h3>
                                                                <form class="comment-form">
                                                                    <p class="comment-form-name">
                                                                        <label>Your name</label>
                                                                        <input class="form-control" name="name" />
                                                                    </p>
                                                                    <p class="comment-form-comment">
                                                                        <label>Comment</label>
                                                                        <textarea class="form-control" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                                                    </p>
                                                                    <p>
                                                                        <input name="submit" class="btn" value="Post Comment" type="submit" />
                                                                    </p>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#<div class="container">#}
                            {#<div class="row">#}
                                {#<div class="col-sm-12">#}
                                    {#<div class="related products">#}
                                        {#<div class="related-title">#}
                                            {#<h3><span>Related Products</span></h3>#}
                                        {#</div>#}
                                        {#<ul class="products columns-4" data-columns="4">#}
                                            {#<li class="product">#}
                                                {#<div class="product-container">#}
                                                    {#<figure>#}
                                                        {#<div class="product-wrap">#}
                                                            {#<div class="product-images">#}
                                                                {#<div class="shop-loop-thumbnail">#}
                                                                    {#<img width="300" height="350" src="{{ asset('images') }}/product/product-2.jpg" alt="Product-2"/>#}
                                                                {#</div>#}
                                                                {#<div class="yith-wcwl-add-to-wishlist">#}
                                                                    {#<div class="yith-wcwl-add-button">#}
                                                                        {#<a href="#" class="add_to_wishlist">#}
                                                                            {#Add to Wishlist#}
                                                                        {#</a>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                                {#<div class="clear"></div>#}
                                                                {#<div class="shop-loop-quickview">#}
                                                                    {#<a href="#" data-rel="quickViewModal"><i class="fa fa-plus"></i></a>#}
                                                                {#</div>#}
                                                            {#</div>#}
                                                        {#</div>#}
                                                        {#<figcaption>#}
                                                            {#<div class="shop-loop-product-info">#}
                                                                {#<div class="info-title">#}
                                                                    {#<h3 class="product_title"><a href="#">Morbi sed egestas</a></h3>#}
                                                                {#</div>#}
                                                                {#<div class="info-meta">#}
                                                                    {#<div class="info-price">#}
																					{#<span class="price">#}
																						{#<span class="amount">&#36;12.00</span>&ndash;<span class="amount">&#36;23.00</span>#}
																					{#</span>#}
                                                                    {#</div>#}
                                                                    {#<div class="loop-add-to-cart">#}
                                                                        {#<a href="#">Select options</a>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                            {#</div>#}
                                                        {#</figcaption>#}
                                                    {#</figure>#}
                                                {#</div>#}
                                            {#</li>#}
                                            {#<li class="product">#}
                                                {#<div class="product-container">#}
                                                    {#<figure>#}
                                                        {#<div class="product-wrap">#}
                                                            {#<div class="product-images">#}
                                                                {#<div class="shop-loop-thumbnail">#}
                                                                    {#<img width="300" height="350" src="{{ asset('images') }}/product/product-3.jpg" alt="Product-3"/>#}
                                                                {#</div>#}
                                                                {#<div class="yith-wcwl-add-to-wishlist">#}
                                                                    {#<div class="yith-wcwl-add-button">#}
                                                                        {#<a href="#" class="add_to_wishlist">#}
                                                                            {#Add to Wishlist#}
                                                                        {#</a>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                                {#<div class="clear"></div>#}
                                                                {#<div class="shop-loop-quickview">#}
                                                                    {#<a href="#" data-rel="quickViewModal"><i class="fa fa-plus"></i></a>#}
                                                                {#</div>#}
                                                            {#</div>#}
                                                        {#</div>#}
                                                        {#<figcaption>#}
                                                            {#<div class="shop-loop-product-info">#}
                                                                {#<div class="info-title">#}
                                                                    {#<h3 class="product_title"><a href="#">Creamy Spring Pasta</a></h3>#}
                                                                {#</div>#}
                                                                {#<div class="info-meta">#}
                                                                    {#<div class="info-price">#}
																					{#<span class="price">#}
																						{#<span class="amount">&#36;12.00</span>&ndash;<span class="amount">&#36;23.00</span>#}
																					{#</span>#}
                                                                    {#</div>#}
                                                                    {#<div class="loop-add-to-cart">#}
                                                                        {#<a href="#">Select options</a>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                            {#</div>#}
                                                        {#</figcaption>#}
                                                    {#</figure>#}
                                                {#</div>#}
                                            {#</li>#}
                                            {#<li class="product">#}
                                                {#<div class="product-container">#}
                                                    {#<figure>#}
                                                        {#<div class="product-wrap">#}
                                                            {#<div class="product-images">#}
                                                                {#<div class="shop-loop-thumbnail">#}
                                                                    {#<img width="300" height="350" src="{{ asset('images') }}/product/product-4.jpg" alt="Product-4"/>#}
                                                                {#</div>#}
                                                                {#<div class="yith-wcwl-add-to-wishlist">#}
                                                                    {#<div class="yith-wcwl-add-button">#}
                                                                        {#<a href="#" class="add_to_wishlist">#}
                                                                            {#Add to Wishlist#}
                                                                        {#</a>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                                {#<div class="clear"></div>#}
                                                                {#<div class="shop-loop-quickview">#}
                                                                    {#<a href="#" data-rel="quickViewModal"><i class="fa fa-plus"></i></a>#}
                                                                {#</div>#}
                                                            {#</div>#}
                                                        {#</div>#}
                                                        {#<figcaption>#}
                                                            {#<div class="shop-loop-product-info">#}
                                                                {#<div class="info-title">#}
                                                                    {#<h3 class="product_title"><a href="#">Green Chile Burritos</a></h3>#}
                                                                {#</div>#}
                                                                {#<div class="info-meta">#}
                                                                    {#<div class="info-price">#}
																					{#<span class="price">#}
																						{#<span class="amount">&#36;10.75</span>#}
																					{#</span>#}
                                                                    {#</div>#}
                                                                    {#<div class="loop-add-to-cart">#}
                                                                        {#<a href="#">Select options</a>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                            {#</div>#}
                                                        {#</figcaption>#}
                                                    {#</figure>#}
                                                {#</div>#}
                                            {#</li>#}
                                            {#<li class="product">#}
                                                {#<div class="product-container">#}
                                                    {#<figure>#}
                                                        {#<div class="product-wrap">#}
                                                            {#<div class="product-images">#}
                                                                {#<div class="shop-loop-thumbnail">#}
                                                                    {#<img width="300" height="350" src="{{ asset('images') }}/product/product-5.jpg" alt="Product-5"/>#}
                                                                {#</div>#}
                                                                {#<div class="yith-wcwl-add-to-wishlist">#}
                                                                    {#<div class="yith-wcwl-add-button">#}
                                                                        {#<a href="#" class="add_to_wishlist">#}
                                                                            {#Add to Wishlist#}
                                                                        {#</a>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                                {#<div class="clear"></div>#}
                                                                {#<div class="shop-loop-quickview">#}
                                                                    {#<a href="#" data-rel="quickViewModal"><i class="fa fa-plus"></i></a>#}
                                                                {#</div>#}
                                                            {#</div>#}
                                                        {#</div>#}
                                                        {#<figcaption>#}
                                                            {#<div class="shop-loop-product-info">#}
                                                                {#<div class="info-title">#}
                                                                    {#<h3 class="product_title"><a href="#">Jalapeno Dressing Salad</a></h3>#}
                                                                {#</div>#}
                                                                {#<div class="info-meta">#}
                                                                    {#<div class="info-price">#}
																					{#<span class="price">#}
																						{#<span class="amount">&#36;17.75</span>#}
																					{#</span>#}
                                                                    {#</div>#}
                                                                    {#<div class="loop-add-to-cart">#}
                                                                        {#<a href="#">Select options</a>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                            {#</div>#}
                                                        {#</figcaption>#}
                                                    {#</figure>#}
                                                {#</div>#}
                                            {#</li>#}
                                        {#</ul>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
